<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <!-- v-model : data의 newTodo 값이 사용자가 입력하는 값으로 변경됨. -->
        <input type="text" v-model="newTodo" v-on:keyup.enter="addnewTodo"> <br>
        {{ newTodo }}
        <button type="text" v-model="todoList" v-on:click="allCompleted">다 함!</button>
        <ul>
            <!-- v-for가 우선, v-if가 나중 -->
            <li v-for="todo in todoList" v-if="!todo.completed">
                {{ todo.content }} <button v-on:click="checkComplete(todo)">완료</button>
            </li>
            <li v-else><del>{{ todo.content }}</del><button v-on:click="checkComplete(todo)">취소</button></li>
        </ul>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
        const app = new Vue({
            el: '#app',
            data: {
                newTodo: '',
                todoList: [
                    {
                        content: '쉬는 시간 놀기',
                        completed: true
                    },
                    {
                        content: '전골 먹기',
                        completed: false
                    },
                    {
                        content: '약속의 2시에 취업특강 들으면서 자기',
                        completed: false
                    },
                    {
                        content: '어벤저스보기',
                        completed: false
                    },
                ]},
            methods:{
                check: function(todo){
                    todo.completed = !todo.completed
                },
                checkComplete: function(todo){
                    // this.todoList[id].completed = true
                    todo.completed = !todo.completed
                },
                addnewTodo: function(){
                    // this : vue 오브젝트(app)
                    // this.todoList : data의 todoList
                    this.todoList.push({
                        // this.newTodo : data의 newTodo ( 사용자가 입력한 값 )
                        content: this.newTodo,
                        completed: false
                    })
                    this.newTodo = '' // 입력하는값 안보이게
                    // 바닐라 JS에서 프론트엔드에서 쏘면서 로직 만들어내는게 vue, react
                },
                allCompleted: function(){
                    // // arrowfucntion 이용
                    this.todoList.forEach(todo =>{
                        if (!todo.completed){
                            this.check(todo)
                        }
                    })

                    // const notCompleted = this.todoList.filter(function(todo){
                    //     return !todo.completed
                    // })
                    // notCompleted.forEach(function(todo){
                    //     this.check(todo)
                    // })

                    // this.todoList.forEach(function(todo){
                    //     todo.completed = true
                    // })
                }
            }
        })
        /*
        1. 모든 함수는 funtion 키워드로
        2. 메서드에서 쓰이는 함수 중에 콜백함수는 arrow function
        3. 메서드 정의시에는 function 키워드
        */
    </script>
    
</body>
</html>