<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <input type="text" v-model="newTodo"> <br>
        {{ newTodo }}
        <ul>
            <li v-for="todo in todoList" v-if="!todo.completed">
                {{ todo.content }} <button v-on:click="checkComplete(todo)">완료</button>
            </li>
            <li v-else><del>{{ todo.content }}</del><button v-on:click="checkComplete(todo)">취소</button></li>
        </ul>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
        const app = new Vue({
            el: '#app',
            data: {
                newTodo: '',
                todoList: [
                    {
                        content: '쉬는 시간 놀기',
                        completed: true
                    },
                    {
                        content: '전골 먹기',
                        completed: false
                    },
                    {
                        content: '약속의 2시에 취업특강 들으면서 자기',
                        completed: false
                    },
                    {
                        content: '어벤저스보기',
                        completed: false
                    },
                ]
            },
            methods:{
                checkComplete: function(todo){
                    // this.todoList[id].completed = true
                    todo.completed = !todo.completed
                },
            }
        })
    </script>
    
</body>
</html>