<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <h1 v-text="title"></h1>
        <input v-model="question"> <br>
        <button v-on:click="getAnswer"> 질문 ㄱ </button>
        <h2>{{ answer|answerCapital }}</h2>
        <img v-bind:src="imageUrl">
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
            <!-- v-for가 우선, v-if가 나중 -->
            <li v-for="todo in todoList" v-if="!todo.completed">
                    {{ todo.content }} <button v-on:click="checkComplete(todo)">완료</button>
                </li>
                <li v-else><del>{{ todo.content }}</del><button v-on:click="checkComplete(todo)">취소</button></li>
    <script>
    const app = new Vue({
        el: '#app',
        data: {
            title: '무엇이든 물어보세요',
            question: '',
            answer: '질문해주세요!',
            imageUrl: '',
        },
        methods: {
            getAnswer: function() {
                if(this.question[this.question.length-1] === '?') {
                    axios.get('https://yesno.wtf/api')
                        .then(response => {
                            console.log(response)
                            this.answer = response.data.answer
                            this.imageUrl = response.data.image
                        })
                }
                else {
                    this.answer = '?로 질문을 끝내주세요'
                    return
                }
            },
        },

        watch: {
            question: function() {
                this.getAnswer()
            }
        },

        filters: {
            answerCapital: function(answer) {
                if (answer === 'yes' || answer ==='no'){
                    return answer.toUpperCase() + '!!!!'
                }
                else {
                    return answer
                }
//                    return (answer === 'yes' || answer === 'no' ) ? answer.toUpperCase() + '!!!!' : answer
            }
        },


//                console.log(this.question)
//                .then(response => console.log(response))
        
    })
    </script>
    
</body>
</html>